/* === GOOGLE FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    font-size: '600';
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #838383;

}

section .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #5c1585;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px;
    width: 280px;
}

.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #5c1585;
    border-radius: 20px 20px 0px 0px;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}


.card .media-icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i {
    color: #fff;
    opacity: 0.6;
    margin-top: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover  {
    opacity: 1;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 20px;
    font-weight: 500;
}

.card .rating {
    display: flex;
    align-items: center;
    margin: 8px 0px 8px 0px;
}

.card .rating i {
    font-size: 18px;
    margin: 0 2px;
    color: #5c1585 ;
}

.card .button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button {
    background: #5c1585;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.button button:hover {
    background: #7141af;

}

.mySwiper {
    width: 500px;
}

element.style {
    width: 500px;
    margin-right: 30px;
}